# System stats

WithPeak[_]: ymwd
XSize[_]: 300
XScale[_]: 1.5
Options[_]: growright, transparent
WorkDir: /home/httpd/stats/system

#Get interface traffic stats from remove server
Target[vpn_traf]: `/usr/local/bin/rstatc your_host iface fxp2`
Options[vpn_traf]: bits,growright, transparent
MaxBytes[vpn_traf]: 12500000000
Title[vpn_traf]: VPN Interface
PageTop[vpn_traf]: <H1>Traffic Analysis for VPN interface </H1>

#Tun counts from remove server
Target[vpn_count]: `/usr/local/bin/rstatc your_host ng_count`
Ylegend[vpn_count]: VPN Counts
ShortLegend[vpn_count]: &nbsp;Users&nbsp
Options[vpn_count]: gauge,nopercent,noinfo,transparent,growright
MaxBytes[vpn_count]: 1000
Title[vpn_count]: VPN Interface count
PageTop[vpn_count]: <H1>VPN interface count</H1>
Legend1[vpn_count]: Total users logged in
Legend2[vpn_count]: Unique users logged in
Legend3[vpn_count]: Maximal 5 Minute Incoming Traffic
Legend4[vpn_count]: Maximal 5 Minute Outgoing Traffic
LegendI[vpn_count]: &nbsp;Total Users:
LegendO[vpn_count]: &nbsp;Unique Users:
Colours[vpn_count]: SILVER#C0C0C0,BLACK#000000,DARKGREEN#006600,VIOLET#ff00ff

#Server load from local server
Target[server-load]: `/usr/local/sbin/rstats load`
Title[server-load]:  My Server load
PageTop[server-load]: <h1>  My Server load</H1>
MaxBytes[server-load]: 300
Ylegend[server-load]: Load Avg
Options[server-load]: gauge,nopercent,noinfo,growright,transparent
ShortLegend[server-load]: &nbsp;Percent&nbsp
Legend1[server-load]: CPU Load 1 Minute Avgerage
Legend2[server-load]: CPU Load 5 Minute Average
Legend3[server-load]: Maximal 5 Minute Incoming Traffic
Legend4[server-load]: Maximal 5 Minute Outgoing Traffic
LegendI[server-load]: &nbsp;CPU Load 1 Min. Avg.:
LegendO[server-load]: &nbsp;CPU Load 5 Min. Avg.:
Colours[server-load]: RED#ff0000,BLACK#000000,DARKGREEN#006600,VIOLET#ff00ff


# Mysql Load from local server
Target[MySQL]: `/usr/local/sbin/rstats mysql mysql_user=user mysql_password=password mysql_host=localhost`
Options[MySQL]: growright, perminute, nopercent, integer
MaxBytes[MySQL]: 10000
AbsMax[MySQL]: 50000
Unscaled[MySQL]: dwmy
Title[MySQL]: MySQL load analysis - server 1
PageTop[MySQL]: <H1>MySQL load Analysis - server 1</H1>
YLegend[MySQL]: # of queries
ShortLegend[MySQL]: q/m
Legend1[MySQL]: # of queries
Legend2[MySQL]: # of slow queries
Legend3[MySQL]: Maximal # of queries per min.
Legend4[MySQL]: Maximal # of slow queries per min.
LegendI[MySQL]: &nbsp;# of queries:
LegendO[MySQL]: &nbsp;# of slow queries:

#Memory
Target[server-mem]: `/usr/local/sbin/rstats memory`
Title[server-mem]:  My Server memory usage
PageTop[server-mem]: <h1> My Server memory usage</H1>
MaxBytes[server-mem]: 25200000000
Ylegend[server-mem]: Memory
Options[server-mem]: gauge,nopercent,noinfo,growright
ShortLegend[server-mem]: &nbsp;Bytes&nbsp
Legend1[server-mem]: Memory Used
Legend2[server-mem]: Memory Total
Legend3[server-mem]: Maximal 5 Minute Incoming Traffic
Legend4[server-mem]: Maximal 5 Minute Outgoing Traffic
LegendI[server-mem]: &nbsp;Memory Used:
LegendO[server-mem]: &nbsp;Memory Total:
Colours[server-mem]: RED#FF8000,BLACK#000000,DARKGREEN#006600,VIOLET#ff00ff

#Memory
Target[server-swap]: `/sbin/swapon -s |/usr/bin/tail -1 |/bin/awk '{print $4"\n"
$3}'`
Title[server-swap]:  My Server SWAP usage
PageTop[server-swap]: <h1> My Server SWAP usage</H1>
MaxBytes[server-swap]: 2520000000
Ylegend[server-swap]: SWAP
Options[server-swap]: gauge,nopercent,noinfo,growright
ShortLegend[server-swap]: &nbsp;Bytes&nbsp
Legend1[server-swap]: SWAP Used
Legend2[server-swap]: SWAP Total
Legend3[server-swap]: Maximal 5 Minute Incoming Traffic
Legend4[server-swap]: Maximal 5 Minute Outgoing Traffic
LegendI[server-swap]: &nbsp;SWAP Used:
LegendO[server-swap]: &nbsp;SWAP Total:
Colours[server-swap]: GREEN#00CE00,BLACK#000000,DARKGREEN#006600,VIOLET#ff00ff

